<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Identity server</title>
    <link rel="stylesheet" href="~/styles/app.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/styles/bootstrap.min.css" asp-append-version="true" />
</head>
<body class="pb-10">
    <header>

        <nav class=" ml5 mr-5">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-area="" asp-controller="Site" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Log in</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container-fluid" style="width:1920px;">
        <main role="main" class="container__full mb-5">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 <a asp-area="" asp-controller="Site" asp-action="Index">Privacy</a>
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
